body {
  background: blanchedalmond;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}                  

.b {
  min-height: 60vh;
  flex-grow: 5;
}

.a {
  background-color: var(--dusty-emerald);
  flex-grow: 2;
}

.c {
  background-color: var(--sage);
  flex-grow: 1;
}                             


:root {
  --pale-sage: #BFF4CB;
  --sage: #84A98C;
  --dusty-emerald: #52796f;
  --deep-emerald: #354F52;
  --night-forest: #2F3E46;
}  

@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}                  
