body {
  background: papayawhip;
}

.container {
  display:flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

.box > * {
  flex: 1;
}                

.b {
  min-height: 40vh;
  flex-basis: 100%;
}

.a {
  background-color: var(--dusty-emerald);
  min-height: 20vh;
  flex-basis: 100%;
}

.c {
  background-color: var(--sage);
  min-height: 20vh;
  min-width: 20vh;
  flex-basis: 33%;
}
.d {
  background-color: var(--soft-cyan);
  min-height: 20vh;
  min-width: 20vh;
  flex-basis: 33%;
} 
.e {
  background-color: var(--bright-violet);
  min-height: 20vh;
  min-width: 20vh;
  flex-basis: 33%;
}  
.f {
  background-color: var(--very-soft-violet);
  min-height: 20vh;
  flex-basis: 100%;
}                          


:root {
  --pale-sage: #BFF4CB;
  --sage: #84A98C;
  --dusty-emerald: #52796f;
  --deep-emerald: #354F52;
  --night-forest: #2F3E46;
  --soft-cyan: #7ed1e9;
  --bright-violet: #b23dde;
  --very-soft-violet: #e6bff4;
}  
                 
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .a {
    max-width: 100%;
    flex-basis: 100%;
    order: 0;
  }
  .b {
    flex-basis: 75%;
    max-width: 80%;
    max-height: 33%;
    order: 1;
  }
  .f {
    flex-basis: 25%; 
    max-width: 20%;
    max-height: 80%;
    flex-grow: 2;
    order: 3;
  }
  .c {
    flex-basis: 20%;
    max-width: 20%;
    max-height: 20%;
    flex-grow: 1;
    order:4;
  }
  .d {
    flex-basis: 20%;
    max-width: 20%;
    max-height: 20%;
    flex-grow: 1;
    order: 5;
  }
  .e {
    flex-basis: 20%;
    max-width: 20%;
    max-height: 20%;
    flex-grow: 1;
    order: 6;
  }
}